# Will be prefixed to all resource names
prefix = "icet"
project_id = "my-project-id"
region = "europe-north1"

# Must be globally unique so will need to be updated before applying
bigquery_loader_dead_letter_bucket_name = "unique-id-snowplow-bq-loader-dead-letter"

# --- Extra Labels to append to created resources (optional)
labels = {
    "environment": "prod",
    "snowplow": "true",
    "terraform": "true"
}